<div class="sidebar">
    <img class="img" src="https://rukesh-images.s3.ap-south-1.amazonaws.com/environment-earth-day-in-the-hands-of-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-on-nature-field-grass-forest-conservati-PYTNET.jpg"> 
    <div style="text-align: center; font-size: 1em">Welcome to Rukesh Reddit Clone
         home page. Come here to
        check in with your favorite subreddits.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">
            Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">
            Create Subreddit</button>
    </div>
</div>
