<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9 subrediitlist">
        <h2>List of Subreddits</h2>
        <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>  
        <ul>
          <li *ngFor="let subreddit of subreddits">
              <a routerLink="/view-subreddit/{{subreddit.subredditId}}">
                {{subreddit.name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
      </div>
    </div>
  </div>
    